{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Title (non-clickable) -->
    <h2 class="archive__item-title" itemprop="headline">
      {{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}
    </h2>

    <!-- Description -->
    {% if post.excerpt %}
      <p class="archive__item-description" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}

    <!-- Download Links -->
    {% if post.paperurl and post.slidesurl %}
      <p><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% elsif post.paperurl %}
      <p><a href="{{ post.paperurl }}">Download Paper</a></p>
    {% elsif post.slidesurl %}
      <p><a href="{{ post.slidesurl }}">Download Slides</a></p>
    {% endif %}
    
  </article>
</div>
